<div class="home__container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameType="Digital | PS4"
        gamePrice="R$ 78,99"
        gameLabel="DIGITAL"
    ></app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameType="Digital | PS4"
        gamePrice="R$ 99,50"
        gameLabel="EXCLUSIVE"
    ></app-card>
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameType="DIGITAL | PS3"
        gamePrice="R$ 59,99"
        gameLabel="DIRECTOR'S CUT"
    ></app-card>
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameType="DISC | PS4"
        gamePrice="R$ 249,90"
        gameLabel="DISC"
    ></app-card>
    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameType="DISC | PS3"
        gamePrice="R$ 61,90"
        gameLabel="DISC"
    ></app-card>
    <app-card
        gameCover="assets/bt-5.jpg"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 248,90"
        gameLabel="DEFINITIVE EDITION"
    ></app-card>
</div>